* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
}
header.flex-head {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header.flex-head img, a {
    padding-top: 20px;
    margin-left: 10px;
}
.links {
    margin-top: 20px;
}
.links a {
    text-decoration: none;
    color: #fff;
    margin: 30px;
}
.flex-head {
    width: 100%;
    height: 120vh;
    position: relative;
    background-image: url(assets/heder-hero-section.jpg);
    background-size: cover;
    background-position: center;
}
.button button {
    margin-right: 20px;
    margin-top: 10px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}
.center{
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 60px;
}
article > h1{
    font-size: 50px;
}
article > .flex{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left: 100px;
}
.move-down {
    margin-top: 450px;
    color: #fff;
}
.move-down p {
    margin: 20px;
}
.bold {
    align-items: center;
    font-size: 24px;
    margin-bottom: 10px;
}
.flex h1 {
    font-size: 16px;
}
.mini-first h1 {
    margin-left: 15px;
    font-size: 30px;
}
.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    background-color: #fff;
}
.big-container {
    padding-top: 25px;
    background-color: #fff;
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;

}
.big-container img{
    margin-top: 40px;
    margin-left: 25px;
    width: 300px;
}
.big-container p {
    padding-top: 35px;
    width: 570px;
    line-height: 1.5;
    font-size: 21px;
}
.text-container h1 {
    font-size: 45px;
}
.text-container h2 {
    font-size: 25px;
    padding-top: 10px;
}
.Button-btn {
    padding-top: 60px;
    padding: 15px 45px;
    background-color: #291001;
    color: #fff;
    border-radius: 10px;
    border: none;
}
.Button-btn{
    margin-top: 15px;
}
.cta {
    width: 100%;
    height: 80vh;
    background-image: url(assets/mid-background-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.center-text-container {
    padding-top: 40px;
    width: 70%;
    height: 60vh;
    background-color: #291001;
    border-radius: 14px;
    color: #fff;
}
.cta :not(h1, p, p)  {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
}
.cta h1 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding-top: 20px;
}
.center-text-container p {
    width: 800px;
    line-height: 1.4;
    font-size: 18px;
    text-align: center;
}
.faq-container {
    width: 100%;
    background-color: #fff;
}
.faq-container h1 {
    padding-top: 20px;
    text-align: center;
    width: 500px;
    color: #000;
    margin: auto;
}
.flex-wrap {
    padding-top: 40px;
    width: 70%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 400px;
    margin: auto;
}
.flex-wrap p {
    font-size: 24px;
}
.flex-wrap4 p {
    font-size: 24px;
}
.flex-wrap4 {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 250px;
  
}
.flex-wrap4 h2 {
    text-align: center;
    width: 600px;  
    font-size: 19px;
    text-align: start;
}
.footer-flex {
    width: 100%;
    background-color: #150601;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 600px;
}
.social-logo img {
    margin-left: 30px;
}
.footer-flex-next {
    width: 100%;
    background-color: #150601;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding-top: 40px;
}
.footer-flex-next a{
    text-decoration: none;
    color: #fff;
}
.footer-flex-next div {
    display: flex;
    flex-direction: column;
}